<h2>Group Detail</h2>
<table class="table text-center">
  <thead>
    <tr>
      <th></th>
      <th>グループ名</th>
      <th>紹介文</th>
      <th>メンバー</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag group.get_groups_image, size:"80x80"%>  </td>
      <td><%= group.name %></td>
      <td><%= group.introduction %></td>
      <td>
        <% group.users.each do |user| %>
          <%= user.name %> <br>
        <% end %>
      </td>
      <td>
        <% if group.owner_id == current_user.id %>
          <%= link_to "Edit", edit_group_path(group), class:"btn btn-success"%>
          <%= link_to "Notice an Event", group_new_mail_path(@group), class:"btn btn-info" %>
        <% elsif group.users.include?(current_user) %>
          <%= link_to "Leave this group", group_leave_path(group), method: :delete, data: { confirm: "本当にこのグループを抜けますか？"}, class:"btn btn-danger" %>
        <% else %>
          <%= link_to "Join this group", group_join_path(group), class:"btn btn-primary" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>